<ion-card class="food-type-container">
    <ion-card-content class="food-type-content">
        <h1>{{ foodType }}</h1>
    </ion-card-content>
</ion-card>


<ion-card class="food-photo" (click)="navToFoodRegistry()">
    <ion-card-content class="photo-card-content">
        <div class="photo-container " *ngIf="getImage(); else descr">
            <ion-img [src]="image" class="photo"></ion-img>
        </div>
        <ng-template #descr>
            <div class="photo-container photo-description" *ngIf="getDescription(); else addFood">
                <p class="ion-text-center photo-p">{{description}}</p>
            </div>
            <ng-template #addFood>
                <div class="photo-container photo-frame">
                    <ion-icon name="add-circle-outline" class='circle-icon'></ion-icon>
                </div>
            </ng-template>
        </ng-template>
    </ion-card-content>
</ion-card>