
<ion-content style="--background: #f5f5f5;">
  <ion-slides #slides navigation="true">
    <ion-slide *ngFor="let registry of foodRegistries">
      <div class="swiper-button-prev" (click)="prevSlide()" 
        *ngIf="foodTypes.indexOf(registry.foodType)"></div>
      <food-registry 
        [foodType]=registry.foodType
        [foodRegistry]="registry"
      ></food-registry>
      <div class="swiper-button-next" (click)="nextSlide()" 
        *ngIf="foodTypes.indexOf(registry.foodType) !== foodTypes.length - 1"></div>
    </ion-slide>
  </ion-slides>
</ion-content>
