ion-card {
    width: 20em;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
} 

.food-photo {
    width: 20em;
    height: 20em;
    margin: auto;
}

.food-photo ion-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-frame {
    border: 5px dashed lightgray;
}

.photo-container {
    width: 15em;
    height: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photo {
    object-fit: cover;
    max-width: 15em;
    max-height: 15em;
    transform: scale(0.9, 0.9);
}

.badge-photo-remove {
    width: 1.9em;
    height: 1.9em;
    border-radius: 25px;
    color: black;
    background-color: lightgray;
    position: absolute;
    z-index: 10;
    right: 8%;
    top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge-photo-remove-icon {
    width: 1.9em;
    height: 1.9em;
}

.photo-icon {
    height: 64px;
    width: 64px;
    color: lightgray;
}

.photo-p {
    color: rgb(167, 167, 167);
}

.food-description ion-card-content {
    height: 8.9em;
    width: 17em;
}

ion-textarea {
    --padding-top: -10px;
    font-size: 0.9em;
    text-align: left;
}

.change-day-btn {
    background: white;
    transform: scale(2, 2);
    border-radius: 100%;
    display: block;
    box-shadow: 0px 0px 11px -4px rgb(0 0 0 / 75%);
}

.date {
    background-color: white;
    padding: 0.2em 1em;
    border-radius: 55px;
    margin: 0 1em;
    box-shadow: 1px 5px 69px -7px rgb(0 0 0 / 75%);
}

.date-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;
}

ion-fab {
    transform: scale(1.1, 1.1);
    bottom: 2%;
    right: 5%;
}

ion-fab ion-icon {
    font-size: 2.5em;
    color: black;
}

ion-fab-button {
    border: 0.22em solid black;
    border-radius: 100%;
}
