.header{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-icon{
    height: 3.5em;
    width: 3.5em;
}

h2{
    padding-right: 2%;
    font-weight: bold;
}

.form-group{
    padding-bottom: 1em;
    height: 20%;
}

.password-field{
    background-color: white;
    border: black;
    border-radius: 25px;
    box-shadow: 0px 0px 20px -8px rgb(0 0 0 / 75%);;
    width: 80%;
    height: 2.6em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

input{
    margin-left: 20px;
    border: 0;
    outline: none;
}

.field-icon{
    margin-left: auto;
    padding-right: 5%;
    
}

.form-errors{
    padding-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    color: red;
}

.button-container{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.submit-button{
    font-size: 35px;
}

.cancel-button{
    --color: #9F9F9F;
}