<ion-content style="--background: #f5f5f5;">
    <div class="header">
        <ion-icon class="header-icon" name="person-circle-outline"></ion-icon>
        <h2 class="title">Change Password</h2>
    </div>

    <form class="change-password-form" [formGroup]="changePasswordForm">
        <div class="fields">
            <div class="form-group" >
                <div class="password-field">
                    <input id="password" type="password" placeholder="Current Password" formControlName="password" required> 
                    <ion-icon class="field-icon" name="key-outline" size="large"></ion-icon>
                </div>
                <div class="form-errors">
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                        <div *ngIf="password.errors.required">Password is required.</div>
                        <div *ngIf="password.errors.invalidPassword" class="alert alert-danger">Invalid password.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="password-field">
                    <input type="password" placeholder="New Password" formControlName="newPassword" required> 
                    <ion-icon class="field-icon" name="key-outline" size="large"></ion-icon>
                </div>
                <div class="form-errors">
                    <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="alert alert-danger">
                        <div *ngIf="newPassword.errors.required">New Password is required.</div>
                        <div *ngIf="newPassword.hasError('minlength') ">Password must be at least 8 characters.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="password-field">
                    <input type="password" placeholder="Repeat Password" formControlName="repeatPassword" required> 
                    <ion-icon class="field-icon" name="key-outline" size="large"></ion-icon>
                </div>
                <div class="form-errors">
                    <div *ngIf="repeatPassword.invalid && (repeatPassword.dirty || repeatPassword.touched)" class="alert alert-danger">
                        <div *ngIf="repeatPassword.errors.mustMatch">Passwords must match.</div>
                    </div>
                </div>                
                
            </div>
        </div>
        <diV class="button-container">
            <ion-button class="submit-button" (click)="onSubmit()" fill="clear" type="submit" size="large" color="dark" strong>Confirm</ion-button>
        </diV>
        <div class="button-container">
            <ion-button class="cancel-button" (click)="cancel()" fill="clear" type="submit" size="large" strong>Cancel</ion-button>
        </div>
        
    </form>
</ion-content>