
div{
    background: #FFFFFF;
    box-shadow: 0px 4px 24px -4px rgba(0, 0, 0, 0.25);
    border-radius: 48px;
    padding-left: 20px;
    padding-right: 15px;
    display: flex;
    height: 50px;
    align-items: center
}

ion-icon{
    padding-right: 8px;
}

