<ion-content style="--background: #f5f5f5">
  <div class="date-container">
    <ion-icon
      name="chevron-back-circle-outline"
      class="change-day-btn"
      (click)="navigateToPrevWeek()"
    ></ion-icon>
    <div class="date">{{ startOfWeek }}<br />-<br />{{ endOfWeek }}</div>
    <ion-icon
      *ngIf="hasNextWeek"
      name="chevron-forward-circle-outline"
      class="change-day-btn"
      (click)="navigateToNextWeek()"
    ></ion-icon>
  </div>
  <div class="week-days-container">
    <ng-container *ngFor="let foods of foodsOfWeek; let i = index">
      <week-day
        [firstDayOfWeek]="startOfWeek"
        [day]="i"
        [registeredFoods]="foods"
      ></week-day>
    </ng-container>
  </div>
</ion-content>
