<ion-content>
  <div class="date-container">
    <ion-icon
      name="chevron-back-circle-outline"
      class="change-day-btn"
      (click)="navigateToPrevMonth()"
    ></ion-icon>
    <div class="date">{{ date }}</div>
    <ion-icon
      *ngIf="hasNextMonth"
      name="chevron-forward-circle-outline"
      class="change-day-btn"
      (click)="navigateToNextMonth()"
    ></ion-icon>
  </div>

  <div class="month-day-container">
    <ng-container *ngFor="let day of monthDays">
      <month-day [date]="date" [day]="day"></month-day>
    </ng-container>
  </div>
</ion-content>
