.date {
    background-color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 20px;
    width: 50%;
    height: 45px;
    padding: 0.2em 1em;
    border-radius: 55px;
    margin: 0 1em;
    box-shadow: 1px 5px 30px -7px rgb(0 0 0 / 60%);
}

.date-container {
    height: 10%;
    padding-top: 18%;
    padding-bottom: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-day-btn {
    background: white;
    transform: scale(2, 2);
    border-radius: 100%;
    display: block;
    box-shadow: 0px 0px 11px -4px rgb(0 0 0 / 75%);
}

.change-day-btn, ion-icon{
    width: 20px;
    height: 20px;
}

.month-day-container{
    width: 100%;
    height: 78%;
    padding-left: 3%;
    padding-right: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;;
}

month-day{
    padding-bottom: 0.3em;
    display: flex;
    justify-content: center;
}