ion-content {
  --ion-background-color: var(--colorGrey);
}
.container {
  padding-top: 15%;
  padding-bottom: 12%;
}

.header {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  display: flex;
  padding-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}

.fields {
  padding-left: 8%;
  padding-right: 8%;
  font-style: normal;
}

.field {
  align-content: center;
}

.fieldError {
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5px;
  padding-bottom: 6px;
  color: crimson;
  font-size: 13px;
}

.logo {
  width: 80px;
  height: 75px;
  margin-top: -5px;
}

.logo-container {
  background-color: white;
  border-radius: 25px;
  width: 90px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.8);
}

.title {
  font-weight: bold;
  font-style: normal;
  font-size: 36px;
  letter-spacing: 0em;
  color: white;
  display: block;
}

.redirect {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 2em;
}
.redirect-button {
  font-weight: normal;
  color: white;
}
.submit {
  width: min-content;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.submit-button {
  margin-top: 2em;
  width: 200px;
  font-weight: bold;
  color: #000000;
  font-size: 36px;
  display: flex;
  border-radius: 25px;
  padding: 10px;
}

.submit-btn-icon {
  margin-left: 5px;
  transform: scale(1.2);
}
