ion-content{
    --ion-background-color:#E5E5E5;
}
.container{ 
    padding-top: 25%;
    padding-bottom: 12%;

}

.header{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    display: flex;
    padding-bottom: 60px;
}

.fields{
    padding-left: 8%;
    padding-right: 8%;
    font-style: normal;

}

.field{
    padding-bottom: 8.5px;
    align-content: center;
}

.fieldError{
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.5px;
    padding-bottom: 6px;
    color: crimson;
    font-size: 13px;
}

.logo{
    width: 90px;
    height: 100px;
}

.title{
    font-weight: bold;
    font-style: normal;
    text-align: left;
    font-size: 36px;
    letter-spacing: 0em;
    padding-top: 20px;
    color: #000000;
}

.redirect{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;;

}
.redirect-button{
    font-weight: normal;
    
}
.submit{
    width: min-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 10px;
}

.submit-button{
    font-style: normal;
    font-weight: bold;

    color: #000000;
    text-align: left;
    font-size: 48px;
    height: 80px;
    color: #000000;

}

